<div class="aluno-form-container">
  <h2>{{ modoEdicao ? 'Editar Aluno' : 'Novo Aluno' }}</h2>

  <form [formGroup]="form" (ngSubmit)="salvar()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome">
      @if (form.get('nome')?.hasError('required')) {
        <mat-error>O nome é obrigatório</mat-error>
      }
      @if (form.get('nome')?.hasError('minlength')) {
        <mat-error>Mínimo de 3 caracteres</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Sexo</mat-label>
      <mat-select formControlName="sexo">
        <mat-option value="M">M</mat-option>
        <mat-option value="F">F</mat-option>
      </mat-select>
      @if (form.get('sexo')?.hasError('required')) {
        <mat-error>O sexo é obrigatório</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput type="date" formControlName="dt_nasc">
      @if (form.get('dt_nasc')?.hasError('required')) {
        <mat-error>A data de nascimento é obrigatória</mat-error>
      }
    </mat-form-field>

    <div class="acoes">
      <button mat-raised-button color="primary" type="submit">Salvar</button>
      <button mat-button type="button" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
